main{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.section{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  border: 7px solid lavender;
  border-radius: 5%;
  box-shadow: 0 13px 10px hsl(0deg 0% 50% / 85%);;
}

.title{
  font-size: 25px;
  color: darkblue;
  font-weight: bold;
}

